@model Reports.Helpers.Dtos.ResultDto.ResultDto<Reports.Application.Services.UserServices.GetUserInformationByIdService.UserInformationDto>

@{
    ViewData["Title"] = "UserInformation";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
else
{
    <h1>اطلاعات کاربر</h1>

    <div class="row mt-3">
        <div class="">
            <a asp-area="Admin" asp-controller="Users" asp-action="EditUserInformation" asp-route-UserId="@Model.Data.Id">
                <button class="btn btn-lg btn-outline-warning">
                    ویرایش اطلاعات
                </button>
            </a>

        </div>
        <div class="">
            <a asp-area="Admin" asp-controller="Reports" asp-action="GetOneUsersReports" asp-route-UsersFirstName="@Model.Data.FName" asp-route-UsersLastName="@Model.Data.LName" asp-route-UserId="@Model.Data.Id"><button class="btn btn-lg btn-outline-success">لیست گزارش ها</button></a>
        </div>
        <div class="">
            <a asp-area="Admin" asp-controller="Reports" asp-action="ShowUserPeriods" asp-route-UserId="@Model.Data.Id" asp-route-UsersFirstName="@Model.Data.FName" asp-route-UsersLastName="@Model.Data.LName"><button class="btn btn-lg btn-outline-primary">لیست بازه ها</button></a>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">اطلاعات کاربر</h4>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="mt-1 ms-3 row">
                        <dt class="col-sm-3">نام و نام خانوادگی:</dt>
                        <dd class="col-sm-9 ps-5">@Model.Data.FName @Model.Data.LName</dd>
                        <dt class="col-sm-3">موقعیت:</dt>
                        <dd class="col-sm-9 ps-5">@Model.Data.Position</dd>
                        <dt class="col-sm-3">کدملی:</dt>
                        <dd class="col-sm-9 ps-5">@Model.Data.NationalCode</dd>
                        <dt class="col-sm-3">ایمیل:</dt>
                        <dd class="col-sm-9 ps-5">@Model.Data.Email</dd>
                        <dt class="col-sm-3">شماره موبایل:</dt>
                        <dd class="col-sm-9 ps-5">@Model.Data.PhoneNumber</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>




}

