@model Reports.Helpers.Dtos.ResultDto.ResultDto<Reports.Application.Services.UserServices.GetUserInformationByIdService.UserInformationDto>

@{
    ViewData["Title"] = "UserInformation";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
else
{
    <h1>اطلاعات کاربر</h1>


    <a asp-area="Admin" asp-controller="Users" asp-action="EditUserInformation" asp-route-UserId="@Model.Data.Id" class="mt-3">
        <button class="btn btn-lg btn-outline-warning">
            ویرایش اطلاعات
        </button>
    </a>

    <dl class="mt-1">
        <dt class="col-sm-3">نام و نام خانوادگی:</dt>
        <dd class="col-sm-9">@Model.Data.FName @Model.Data.LName</dd>
        <dt class="col-sm-3">موقعیت:</dt>
        <dd class="col-sm-9">@Model.Data.Position</dd>
        <dt class="col-sm-3">کدملی:</dt>
        <dd class="col-sm-9">@Model.Data.NationalCode</dd>
        <dt class="col-sm-3">ایمیل:</dt>
        <dd class="col-sm-9">@Model.Data.Email</dd>
        <dt class="col-sm-3">شماره موبایل:</dt>
        <dd class="col-sm-9">@Model.Data.PhoneNumber</dd>
    </dl>


}

