@model Reports.Helpers.Dtos.ResultDto.ResultDto<Reports.Application.Services.ReportServices.GetWorkTimeChart.GetWorkTimeChartResultDto>

@{
    ViewData["Title"] = "AllWorkersWorkTimeChart";
}

<h1>نمودار ساعت کار</h1>


<div class="row">
    نمایش نمودار ساعت کار
    <form asp-action="AllWorkersWorkTimeChart">
        <label>از تاریخ:</label>
        <input class="date form-control col-2" type="text" name="StartDate" value="@(Model.Data?.StartDate ?? "")" />
        <label>تا تاریخ:</label>
        <input class="date form-control col-2" type="text" name="FinishDate" value="@(Model.Data?.FinishDate ?? "")" />
        <input type="hidden" name="UsersFirstName" />
        <input type="hidden" name="UsersLastName" />
        <button class="btn btn-outline-success mt-2" type="submit">جستجو</button>
    </form>
</div>

@if (!Model.Succeeded)
{
    <div class="alert alert-danger">
        @Model.Message
    </div>
}
else
{

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">نمودار</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block chartjs">
                        <iframe class="chartjs-hidden-iframe" tabindex="-1" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
                        <canvas id="line-chart" height="400" width="724" style="display: block; width: 724px; height: 400px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>




}



@section Scripts{

    @if(Model.Succeeded){
<script>


    (function(window, document, $) {



            $(window).on("load", function () {

            var Dates = @Html.Raw(Json.Serialize(Model.Data.ChartData.Dates));
            var WorkHours = @Html.Raw(Json.Serialize(Model.Data.ChartData.WorkTimes));

            //Get the context of the Chart canvas element we want to select
            var ctx = $("#line-chart");

            // Chart Options
            var chartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom',
                },
                hover: {
                    mode: 'label'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        gridLines: {
                            color: "#f3f3f3",
                            drawTicks: false,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'تاریخ'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        gridLines: {
                            color: "#f3f3f3",
                            drawTicks: false,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'ساعت کار مجموع کارکنان در روز'
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'نمودار مجموع ساعت کار کارمندان در روز'
                }
            };

            // Chart Data
            var chartData = {
                labels: Dates/*["تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی"]*/,
                datasets: [{
                    label: "مجموع ساعت کار",
                    data: WorkHours/*[150, 59, 80, 81, 56, 55, 40]*/,
                    fill: false,
                    // borderDash: [5, 5],
                    borderColor: "#666ee8",
                    pointBorderColor: "#666ee8",
                    pointBackgroundColor: "#FFF",
                    pointBorderWidth: 2,
                    pointHoverBorderWidth: 2,
                    pointRadius: 4,
                }]
            };

            var config = {
                type: 'line',

                // Chart Options
                options: chartOptions,

                data: chartData
            };

            // Create the chart
            var lineChart = new Chart(ctx, config);



            ////////////////////////////////////////////////////////////////////////////////////




        });




    })(window, document, jQuery);    </script>

    }


<script src="~/js/persian-date.min.js"></script>


<script src="~/js/persian-datepicker.min.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
      $(".date").pDatepicker({
          initialValue:true,
          initialValueType:'persian',

          calendar:{
        persian: {
            locale: 'en'
        }
    },
          format:'L',
      });
    });
</script>

}



